body{
    margin: 0;
    background-color: hsl(233, 47%, 7%);
}

#card{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


#picture{
    background-image: url('img/image-header-mobile.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.layer {
    background-color: hsla(279, 73%, 46%, 0.61);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#words{
    text-align: center;
    background-color:hsl(244, 38%, 16%) ;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#words h1{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 8px;

}

#words span{
    color: hsl(277, 64%, 61%);
}

#words p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 24px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-indent: 1px;
}

#stats p{
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: bold;
    line-height: 26px
}

#stats span{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 13px;
    font-weight: normal;
}


@media screen and (min-width:1440px) {
 #card{
    flex-direction: row;
    width: 800px;
    margin-top: 20vh;
  
 
 }

 #words{
     width: 50%;
     order: 0;
     border-bottom-right-radius: 0px;
     border-bottom-left-radius: 20px;
     border-top-left-radius: 20px;
     text-align: unset;
 }

 #picture{
     width: 50%;
     background-image: url('img/image-header-desktop.jpg');
     order: 99;
     border-top-left-radius: 0px;
     border-bottom-right-radius: 20px;
 }

 #paragraph{
     width:100% ;
     margin-left: 15px;
     margin-right: 15px;
    
     
 }

 .layer{
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
 }



 #stats{
     display: flex;
     justify-content: center;
    
 }

 #stats p{
     margin: 0;
     padding-top: 0;

    
     
 }
}