body{
    margin: 0;
    background-color: hsl(233, 47%, 7%);
}

#card{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
}


#picture{
    background-image: url('img/image-header-mobile.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
}


#words{
    text-align: center;
    background-color:hsl(244, 38%, 16%) ;
}

#words h1{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 8px;

}

#words span{
    color: hsl(277, 64%, 61%);
}

#words p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 24px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-indent: 1px;
}


@media screen and (min-width:1440px) {
 #card{
    flex-direction: row;
    width: 800px;
 }

 #words{
     width: 50%;
     order: 0;
 }

 #picture{
     width: 50%;
     background-image: url('img/image-header-desktop.jpg');
     order: 99;
 }
}